{% extends "index.html"%}
{% block body_content %}
<div class="container h-100">
<div class="d-flex justify-content-center">
  <div class="card mt-5 col-md-4 animated bounceInDown myForm" style="background-color:#F5F5F5;">
<br>
  <div class="card-header">
      <h4 style="font-family: Verdana; text-align:center"> Appraise this</h4>
  </div>
    <div class="card-body">
    <div class="card-body">
      <form action="https://pacific-fortress-20326.herokuapp.com/request" method="post">
        <div id="dynamic_container">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="button">Upload</button>
            </div>
            <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
          </div>
    </div>
    <div class="card-footer">
      <button style="font-family: Verdana;" class="button button4"><i class="fas fa-arrow-alt-circle-right"></i> Submit</button>
    </div>
    </form>
  </div>
</div>

</div>



{%endblock%}
