{% extends "upload.html"%}
{% block body_content %}
<div class="container h-100">
<div class="d-flex justify-content-center">
  <div class="card mt-5 col-md-4 animated bounceInDown myForm" style="background-color:#F5F5F5;">
<br>
    <div class="card-body">

      <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <strong>Files:</strong><br>
          <input id="file-picker" type="file" name="file" accept="image/*" capture="camera">
          <button type="submit" style="font-family: Verdana;" class="button button4"><i class="fas fa-arrow-alt-circle-right"></i> Submit</button>
      </form>

</div>

</div>



{%endblock%}
